# AWS Configuration
VITE_AWS_REGION=ap-southeast-1
AWS_REGION=ap-southeast-1
AWS_ACCOUNT_ID=295316348216

# IAM User
AWS_IAM_USER=binh

# Cognito Configuration (AWS Cognito User Pool)
VITE_COGNITO_POOL_ID=ap-southeast-1_MLCaXFuMq
VITE_COGNITO_CLIENT_ID=6mfqvol5r0up6thndjthdjn3id

# S3 Configuration
VITE_S3_BUCKET=corjl-fabricon-storage-1770633739

# API Region
VITE_API_REGION=ap-southeast-1

# App Configuration
VITE_APP_ENV=development
VITE_API_ENV=dev
